footer {
	clear: both;
	background: #44413F;
	font-weight: 500;
	font-size: 1.4rem;
	padding:10px 0;
	div {
		text-align: right;
		@include breakpoint("560") {
			margin-left: 25%;
		}
		a {
			font-weight: 700;
			font-size: 1.8rem;
			color:#fff;
			transition:0.3s;
			text-transform: capitalize;
			&:hover {
				 color:#D3CCCB;
			}
		}
		p {
			color: #fff!important;
			margin-bottom: 10px;
		}
	}
	.logo {
		@include breakpoint("560") {
			width:200px;
		}
	}
	.container {
		display: flex;
		justify-content:space-between;
		align-items: center;
		@include breakpoint("560") {
			flex-direction: column-reverse;
			align-items: flex-end;
		}
	}
}

.bottom-footer {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
}