ul.menu {
	margin: 0;
	padding: 0;
	li {
		margin:0 20px;
		a {
			font-weight: 800;
			font-size: 14px;
			color: #464646;
			text-transform: uppercase;
		}
	}
}



ul.menu  {
	display: flex;
	> li.menu-item-has-children:after {
			content: ' \f078';
			font-family: FontAwesome;
	}
	> li {
		position: relative;
		border-bottom: solid 3px white;
		transition:0.3s;
		&:hover {
			border-bottom: solid 3px #8AC985;
		}

		// SUBMENU
		> ul {
		padding-left: 0;
		position: absolute;
		top: 20px;
		right: -75px;
		left:0px;
		flex-direction: column;
		display: none;
		margin-top: 20px;
		background:  #FFF;
		box-shadow: 0 0 2px 1px lightgrey;
		> li {
			border-bottom: 1px solid #E6E6E6;
			padding: 10px 0;
			margin: 0 10px;		
			&:last-child {
				border-bottom: none;
				}	
			a {
				text-transform: capitalize!important;
				}
			}
		}
		li.open:after {
			content: '\f077'!important;
			font-family: FontAwesome!important;
		}
	}
}

header .container {
	display:flex;
	justify-content: space-between;
	align-items: center;
	h1 {
		margin: 0;
	}
}

header {
	box-shadow: 0px 0 3px 3px lightgrey;
	padding:20px 0;
	position: fixed;
	top:0;
	left:0;
	right: 0;
	background: white;
	a.login-button {
		background: #27B489;
		color: #fff;
		font-weight: 800;
		font-size: 1.4rem;
		text-transform: uppercase;
		padding: 10px 25px;
		transition:0.3s;
		border-radius: 3px;
		&:hover {
			background: #0B8C60;
		}
	}
}
